<%- include("./partials/header") %>

  <div class="container text-center mt-5">
    <h2>Bienvenido a Servi Oftalmo</h2>
    <p>Seleccione una opción para continuar:</p>
    <a href="/pacientes/new" class="btn btn-primary btn-lg m-2">Ingreso de Paciente</a>
    <a href="/pacientes/" class="btn btn-secondary btn-lg m-2">Buscar Paciente</a>
  </div>

  <div class="row">


  </div>
  <%- include("./partials/footer") %>